<ul class="side-nav fixed">
    <li><a href="#!">Inbox</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a href="javascript:void(0)" {{action 'openModal'}}>Add Link</a></li>
    <li>
      {{#link-to 'posts' class="button"}}
          Collection
      {{/link-to}}
    </li>

    <li><a class="subheader">Tags</a></li>
    <li><a href="#!">Politik</a></li>
</ul>

{{yield}}
